<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
 	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 类型别名 -->
	<typeAliases>
		<typeAlias alias="User" type="com.diiwon.plat.model.User" />
		<typeAlias alias="TwoDecoration" type="com.diiwon.plat.model.TwoDecoration" />
		<typeAlias alias="Record" type="com.diiwon.plat.model.Record" />
	</typeAliases>

	<!-- 列出映射文件 -->
	<mappers>
		<mapper resource="com/diiwon/plat/mapper/UserMapper.xml"></mapper>
		<mapper resource="com/diiwon/plat/mapper/TwoDecorationMapper.xml"></mapper>
		<mapper resource="com/diiwon/plat/mapper/RecordMapper.xml"></mapper>
	</mappers>
</configuration>